.intro-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}


.intro-section__card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    height: auto;
}

.intro-section__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.intro-section__img {
    margin: 2rem;    
}

.intro-section__img > img{
    min-width: 30rem;
    max-width: 30rem;
}
